# Please update with your region and project ID
PROJECT_ID=your-gcp-project-id
REGION=your-region
ZONE=your-zone
CLUSTER_NAME=platform-starter-gke        # Name for your GKE cluster

# Artifact Registry
REGISTRY_LOCATION=your-registry-location # Usually same as cluster REGION
REGISTRY_REPO=apps                       # Name of your Artifact Registry repository (where container images are stored)

# GitHub metadata (for CI)
GITHUB_OWNER=your-github-username
